/* @import "tailwindcss"; */

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
	  display: none;
	}
	.no-scrollbar {
	  -ms-overflow-style: none;
	  scrollbar-width: none;
	}
}

@layer theme {
  :root, :host {
	--font-dislpay: Grotesk, serif;
	--font-display: Krylon, sans-serif;
  }
}

@font-face {
	font-family: Krylon;
	src: url("../Font/Krylon-Regular.otf") format("opentype");
	font-weight: 900;
}
@font-face {
	font-family: Grotesk;
	src: url("../Font/Grotesk-Regular.ttf") format("truetype");
}

*{
	box-sizing: border-box;
}

@keyframes moveUp {
	from {
		transform: translateY(100px); /* Start 100px below */
		opacity: 0; /* Start invisible */
	}
	to {
		transform: translateY(0); /* End at its original position */
		opacity: 1; /* Fully visible */
	}
}

.search-bar {
	animation: moveUp 1s ease-out; /* Apply the animation */
}


/* Custom scrollbar for modern browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Adjust width for sleekness */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #dcdcdc; /* Soft gray to match the modern atmosphere */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #005555; /* Green tone inspired by the navigation bar */
    border-radius: 6px; /* Rounded corners for smooth design */
	margin-top: 20px; /* Padding for a more comfortable grip */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #013f3f; /* Slightly darker green for hover effect */
}